# Lume — {{name}} ({{variant}})
# https://github.com/danfry1/lume

[colors-dark]
cursor = {{backgrounds_base_hex}} {{special_cursor_hex}}

foreground = {{foregrounds_text_hex}}
background = {{backgrounds_base_hex}}
selection-foreground = {{foregrounds_text_hex}}
selection-background = {{special_selection_hex}}
urls = {{accents_sky_hex}}

regular0 = {{ansi_black_hex}}
regular1 = {{ansi_red_hex}}
regular2 = {{ansi_green_hex}}
regular3 = {{ansi_yellow_hex}}
regular4 = {{ansi_blue_hex}}
regular5 = {{ansi_magenta_hex}}
regular6 = {{ansi_cyan_hex}}
regular7 = {{ansi_white_hex}}

bright0 = {{ansi_brightBlack_hex}}
bright1 = {{ansi_brightRed_hex}}
bright2 = {{ansi_brightGreen_hex}}
bright3 = {{ansi_brightYellow_hex}}
bright4 = {{ansi_brightBlue_hex}}
bright5 = {{ansi_brightMagenta_hex}}
bright6 = {{ansi_brightCyan_hex}}
bright7 = {{ansi_brightWhite_hex}}
