# Lume — {{name}} ({{variant}})
# https://github.com/danfry1/lume

background = {{backgrounds_base_hex}}
foreground = {{foregrounds_text_hex}}
cursor-color = {{special_cursor_hex}}
cursor-text = {{backgrounds_base_hex}}
selection-background = {{special_selection_hex}}
selection-foreground = {{foregrounds_text_hex}}

# ANSI colors
palette = 0={{ansi_black_hex}}
palette = 1={{ansi_red_hex}}
palette = 2={{ansi_green_hex}}
palette = 3={{ansi_yellow_hex}}
palette = 4={{ansi_blue_hex}}
palette = 5={{ansi_magenta_hex}}
palette = 6={{ansi_cyan_hex}}
palette = 7={{ansi_white_hex}}
palette = 8={{ansi_brightBlack_hex}}
palette = 9={{ansi_brightRed_hex}}
palette = 10={{ansi_brightGreen_hex}}
palette = 11={{ansi_brightYellow_hex}}
palette = 12={{ansi_brightBlue_hex}}
palette = 13={{ansi_brightMagenta_hex}}
palette = 14={{ansi_brightCyan_hex}}
palette = 15={{ansi_brightWhite_hex}}
