# Lume — {{name}} ({{variant}})
# https://github.com/danfry1/lume

foreground {{foregrounds.text}}
background {{backgrounds.base}}
selection_foreground {{foregrounds.text}}
selection_background {{special.selection}}
cursor {{special.cursor}}
cursor_text_color {{backgrounds.base}}
url_color {{accents.sky}}

# Black
color0 {{ansi.black}}
color8 {{ansi.brightBlack}}

# Red
color1 {{ansi.red}}
color9 {{ansi.brightRed}}

# Green
color2 {{ansi.green}}
color10 {{ansi.brightGreen}}

# Yellow
color3 {{ansi.yellow}}
color11 {{ansi.brightYellow}}

# Blue
color4 {{ansi.blue}}
color12 {{ansi.brightBlue}}

# Magenta
color5 {{ansi.magenta}}
color13 {{ansi.brightMagenta}}

# Cyan
color6 {{ansi.cyan}}
color14 {{ansi.brightCyan}}

# White
color7 {{ansi.white}}
color15 {{ansi.brightWhite}}

# Tab bar
active_tab_foreground {{foregrounds.text}}
active_tab_background {{backgrounds.surface0}}
inactive_tab_foreground {{foregrounds.overlay}}
inactive_tab_background {{backgrounds.mantle}}

# Marks
mark1_foreground {{backgrounds.base}}
mark1_background {{accents.lavender}}
mark2_foreground {{backgrounds.base}}
mark2_background {{accents.peach}}
mark3_foreground {{backgrounds.base}}
mark3_background {{accents.sky}}
