# Lume — {{name}} ({{variant}})
# https://github.com/danfry1/lume

gui:
  theme:
    activeBorderColor:
      - "{{accents.lavender}}"
      - bold
    inactiveBorderColor:
      - "{{backgrounds.surface1}}"
    searchingActiveBorderColor:
      - "{{accents.honey}}"
      - bold
    optionsTextColor:
      - "{{accents.sky}}"
    selectedLineBgColor:
      - "{{backgrounds.surface0}}"
    cherryPickedCommitFgColor:
      - "{{accents.sky}}"
    cherryPickedCommitBgColor:
      - "{{accents.lavender}}"
    markedBaseCommitFgColor:
      - "{{accents.sky}}"
    markedBaseCommitBgColor:
      - "{{accents.honey}}"
    unstagedChangesColor:
      - "{{accents.ember}}"
    defaultFgColor:
      - "{{foregrounds.text}}"
