{
  "name": "{{name}}",
  "background": "{{backgrounds.base}}",
  "foreground": "{{foregrounds.text}}",
  "cursorColor": "{{special.cursor}}",
  "selectionBackground": "{{special.selection}}",
  "black": "{{ansi.black}}",
  "red": "{{ansi.red}}",
  "green": "{{ansi.green}}",
  "yellow": "{{ansi.yellow}}",
  "blue": "{{ansi.blue}}",
  "purple": "{{ansi.magenta}}",
  "cyan": "{{ansi.cyan}}",
  "white": "{{ansi.white}}",
  "brightBlack": "{{ansi.brightBlack}}",
  "brightRed": "{{ansi.brightRed}}",
  "brightGreen": "{{ansi.brightGreen}}",
  "brightYellow": "{{ansi.brightYellow}}",
  "brightBlue": "{{ansi.brightBlue}}",
  "brightPurple": "{{ansi.brightMagenta}}",
  "brightCyan": "{{ansi.brightCyan}}",
  "brightWhite": "{{ansi.brightWhite}}"
}
